﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ROTEK </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color :aliceblue">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">ANASAYFA</a></li>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="">İletişim</a></li>
                    <li><a href="#">Bisikletler</a></li>
                    <li><a href="#">Ürünler</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Üye Ol</a></li>
                    <li><a href="#">Giriş</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <img src="~/Content/image/tr.png" width="25px" height="25px" title="TÜRKÇE">

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/image/en.png" width="25px" height="25px" title="ENGLISH">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <div class="panel panel-title navbar-fixed-bottom ">
                <div class="container">
                    <div class="col-md-9 text-info">
                        <strong> @DateTime.Now.Year  Copyright &copy; ROTEK Rendecioğlu  </strong>
                    </div>
                    <div class="col-md-3 ">
                        <li><a href="https://www.facebook.com/yunusemre.rendecioglu" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
                        <li><a href="https://plus.google.com/100000673174838623986" title="Facebook" class="btn btn-gplus btn-lg">G+<i class="fa fa-google-plus fa-2x"></i></a></li>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
